body {
  padding-top: 10px;
}

.header {
  font-family:; "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #888;
  border-bottom: 6px #ddd solid;
}

.narrow {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px #e5e5e5 solid;
}

.footer .nav {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer .credits {
  padding: 20px;
  font-size: 12px;
}


.jumbotron .tagline {
  font-size: 23px;
}
.jumbotron p {
  font-size: 18px;
}


/**
 * Bootstrap callouts
 */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #b5dca5;
}

.bs-callout-danger h4 {
  color: #B94A48;
}

.bs-callout-warning h4 {
  color: #C09853;
}

.bs-callout-info h4 {
  color: #3A87AD;
}

.bs-callout-success h4 {
  color: #3c763d;
}


.bs-callout.pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}




  /* new posts */

  #syndication-container ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  #syndication-container li {
    padding: 0;
    margin-bottom: 6px;
  }
  #syndication-container button {
    max-width: 240px;
    text-shadow: none;
  }
  #syndication-container button img {
    float: left;
    margin-left: 10px;
  }
  
  #last_response_date {
    font-size: 80%;
    font-weight: normal;
  }

  #btn_post {
    margin-bottom: 10px;
  }

  @media all and (max-width: 480px) {
    #note_location_img_wide {
      display: none;
    }
    #note_location_img_small {
      display: block;
    }
  }
  @media all and (min-width: 480px) {
    #note_location_img_wide {
      display: block;
    }
    #note_location_img_small {
      display: none;
    }
  }

  .img-visible {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  #note_location_img img {
    margin-top: -1px;
    border: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .callout {
    border-left: 4px #5bc0de solid;
    background-color: #f4f8fa;
    padding: 20px;
    margin-top: 10px;
  }
  .callout table {
    margin-bottom: 0;
  }


