/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label
{
  margin: 0;
  padding: 0; 
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

th, td
{
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

.micropub-html-warning {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  margin-bottom: -80px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 16px;
  background: #fcf8e3;
  border: 1px #faebcc solid;
}
.micropub-html-warning div {
  padding: 10px 20px;
}
.micropub-html-warning button {
  display: block;
}
#micropub-html-btn {
  font-size: 14px;
  border-radius: 6px;
  padding: 0 12px;
  height: 28px;
  background: #e4f8fa;
  float: right;
}

/* ************************************** */
/* Toolbar */

.toolbar {
  padding: 13px;
  border-bottom: 1px #eee solid;
  background-color: rgba(255,255,255,0.97);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.toolbar-left {
  float: left;
}
.toolbar-right {
  float: right;
  margin-right: 40px;
}
.toolbar-left .item {
  margin-right: 8px;
  display: inline-block;
}
.toolbar-left .logo {
  vertical-align: middle;
}
#draft-status {
  color: #aaa;
  font-family: sans-serif;
  font-size: 16px;
}
.toolbar .clear {
  clear: both;
}

.btn {
  height: 38px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  display: inline-block;
  padding: 0 24px;
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border: 1px #93dee5 solid;
  color: #72c1c8;
  vertical-align: middle;
  cursor: pointer;
}
.btn:hover {
  border-color: #61a7ae;
  color: #51a1a8;
}
.btn.btn-medium {
  height: 30px;
  padding: 0 16px;
  font-size: 13px;
}
.btn.btn-small {
  height: 26px;
  padding: 0 16px;
  font-size: 13px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input.form-field-small {
  height: 24px;
  margin-top: 1px;
  font-size: 13px;
  color: #51a1a8;
  padding: 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px #93dee5 solid;
}

.publish-dropdown {
  position: fixed;
  top: 62px;
  right: 110px;
  z-index: 1001;
  background: white;
  width: 280px;
  min-height: 60px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 9px rgba(0,0,0,0.07);
}
.publish-dropdown .arrow {
  clip: rect(0 14px 14px -4px);
  transform: rotate(45deg);
  margin-top: -7px;
  position: absolute;
  right: 20px;
}
.publish-dropdown .arrow::after {
  content: '';
  height: 16px;
  width: 16px;
  background: white;
  display: block;
  border: #dbdbdb 1px solid;
}
.publish-dropdown .dropdown-content {
  padding: 9px;
}
.publish-dropdown input {
  font-family: sans-serif;  
}
.publish-dropdown .helptext {
  padding: 8px 4px 12px 4px;
  color: #333;
}
pre#publish-error-debug {
  overflow: scroll;
  font-size: 11px;
  line-height: 12px;
}

.hidden {
  display: none;
}

/* ************************************** */
/* App Cache */

#new_version_available {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(246,206,217,0.3);
}
#new_version_available .inner {
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #cf224f;
  font-size: 14px;
  font-family: sans-serif;
}


/* ************************************** */
/* Editor CSS */

body {
  font-size: 22px;
  line-height: 30px;
}
body, input {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;  
}

*:focus {
  outline: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 63px;
  z-index: 0;
}

#post-name {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  font-weight: bold;
  font-size: 38px;
  width: 100%;
}

#content {
  min-height: 300px;
}

.medium-editor-insert-plugin .medium-insert-buttons {
  color: #bbb;
}

/* editor's h1 is actually h3 */
h3 {
  font-weight: bold;
  font-size: 36px;
}
h4 {
  font-weight: bold;
  font-size: 30px;
}

p {
  margin-bottom: 30px;
}

pre {
  font-family: 'Menlo', monospace;
  font-size: 15px;
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
}

blockquote {
  display: block;
  padding-left: 20px;
  border-left: 6px solid #dbdbdb;
  margin-left: -15px;
  padding-left: 15px;
  font-style: italic;
  color: #555;
}

.editable,
.secondEditable {
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.editable .placeholder {
  color: #ccc;
}
